* {
  box-sizing: border-box;
}

:root {
  --clr-darkestkhaki: #5c715e;
  --clr-darksage: #b6cdbd;
  --clr-lightsage: #ddeedf;
  --clr-lightestsage: #f2f9f1; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  width: 100%;
}

a:hover {
  color: var(--clr-darksage);
  background-color: #364237;
}

h2 {
  direction: rtl;
  flex-wrap: wrap;
  color: var(--clr-darkestkhaki);
  border-right: 3px dashed #364237;
}

/* main logo & nav */ 

header {
  display: flex;
  position: sticky;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-darkestkhaki);
  color: var(--clr-lightestsage)
}

.logo {
  padding: 3px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 15px;
  position: sticky;
  height: auto;
  background-color: rgb(233, 197, 230);
}

#nav-list {
  display: flex;
  gap: 15px 15px;
}

li {
list-style: none;
color: var(--clr-lightestsage);
}

a {
  color: var(--clr-lightestsage);
}

/* welcome-banner */

.welcome-banner {
  display: flex;
  top: 10px;
  background-color: var(--clr-lightestsage);
  width: 100%;
  height: 35vh;
  justify-content: flex-start;
  align-items: center;
  position: static;
  margin-bottom: 10px;
}

h1 {
  color: var(--clr-darkestkhaki)
}

#my-image {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-left: 23px;
}

.welcome-text {
  width: 100%;
  margin-left: 15px;
}

/* main section */

/* H2 main headings style */
.headings {
  direction: rtl;
  flex-wrap: wrap;
  color: var(--clr-darkestkhaki);
  border-right: 3px dashed #364237;
  flex-basis: 20%;
  font-size: 30px;
  align-items: stretch;
  height: auto;
  padding-right: 5px;
  margin-top: -1px;
  margin-bottom: -2px;
  min-width: 6rem;
}

/* about me section */
#about-me {
  width: auto;
}

.about-me-container {
  display: flex;
  width: auto;
  height:100%;
  top: 360px;
  background-color: var(--clr-lightsage);
  margin-bottom: 10px;
}

.a-me {
  direction: rtl;
  flex-wrap: wrap;
  color: var(--clr-darkestkhaki);
  border-right: 3px dashed #364237;
  width: 20%;
  font-size: 30px;
  align-items: stretch;
  height: auto;
}

.description {
  margin: 10px;
  width: 80%;
  margin-top: 0px;
}

/* portfolio section */
#my-portfolio {
  background-color: var(--clr-darksage);
  display: flex;
  padding: 0px;
  margin-bottom: 10px;
}

#projects-container {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 80%;
  margin: 10px;
}

#large-project {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 5px var(--clr-darkestkhaki);
  border: 3px solid var(--clr-lightestsage);
}

#img-1 {
  height: 90px;
  width: 85px;
  align-items: end;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100px;
  border: 3px solid var(--clr-lightestsage);
}

.project-images {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: -15px;
  height: 50px;
  width: 50px;
}

.p-title {
  display: flex;
  background-color: var(--clr-darkestkhaki);
  color: var(--clr-lightestsage);
  justify-content: center;
  align-items: flex-end;
  width: 98%;
  border: 3px solid rgb(233, 197, 230);
}

/* footer & contact me section */
#contact-me {
  background-color: var(--clr-lightsage);
  display: flex;
  height: auto;
}

.footer-nav {
  width: 80%;
}

.footer-list {
  display: flex;
  margin: 40px;
  justify-content: space-evenly;
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 5px;
  width: 100%;
}

.f-text {
  color: var(--clr-lightestsage);
  background-color: var(--clr-darkestkhaki);
  justify-content: center;
  border: 3px solid rgb(233, 197, 230);
  width: 150%;
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none; 
}

@media (max-width: 425px) {
  .headings {
    font-size: larger;
  }

  #my-image {
    height: 20vh;
    width: 30vh;
  }

  body {
    width: fit-content;
  }

  a {
    font-size: smaller;
  }
}

@media (min-width: 425px) {
  .headings {
    font-size: larger;
    text-wrap: wrap;
  }

}
