* {
  box-sizing: border-box;
}

:root {
  --clr-darkestkhaki: #5c715e;
  --clr-darksage: #b6cdbd;
  --clr-lightsage: #ddeedf;
  --clr-lightestsage: #f2f9f1; 

}
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  width: auto;
}

.headings {
  margin-left: 5px;
  color: var(--clr-darkestkhaki);
  border-right: 3px dashed #364237;
  width: 20%;
}

header {
  display: flex;
  position: fixed;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-darkestkhaki);
  color: var(--clr-lightestsage)
}

#nav-list {
  display: flex;
  gap: 15px 15px;
}

li {
list-style: none;
color: var(--clr-lightestsage);
}

a {
  color: var(--clr-lightestsage);
}

a:hover {
  color: var(--clr-darksage);
  background-color: #364237;
}

h1 {
  color: var(--clr-darkestkhaki)
}

.welcome-banner{
  display: flex;
  top: 50px;
  background-color: var(--clr-lightestsage);
  width: 100%;
  height: 35vh;
  justify-content: flex-start;
  align-items: center;
}

.my-image {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: 50px;
}

.welcome-text {
  width: 100%;
}

#about-me {
  width: auto;
}

.about-me-container {
  display: flex;
  width: auto;
  height: 130px;
  top: 360px;
  background-color: var(--clr-lightsage);
}

.description {
  margin-top: 22px;
  margin-left: 10px;
  width: 80%;
}

#my-portfolio {
  background-color: var(--clr-darksage);
  display: flex;
}

#projects-container {
  display: flex;
  width: 80%;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}

#large-project {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
}

#img-1 {
  height: 90px;
  width: 85px;
  align-items: end;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100px;
}

.project-images {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
}

.p-title {
  display: flex;
  background-color: var(--clr-darkestkhaki);
  color: var(--clr-lightestsage);
  justify-content: center;
  align-items: flex-end;
  width: 98%;
}

#contact-me {
  background-color: var(--clr-lightsage);
  display: flex;
}

.footer-nav {
  width: 80%;
}

.footer-list {
  display: flex;
  margin: 40px;
  gap: 30px;
  justify-content: space-evenly;
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f-text {
  color: var(--clr-darkestkhaki);
  justify-content: center;
}

a {
  text-decoration: none;
}
